<h1>Please enter a year and a month</h1>

<%= form_tag search_reservations_path do %>

<table>
  <tr>
    <td>
      <%= label_tag :reservation_month_and_year%>
    </td>
    <td>
      <%= month_field(:room, :reservation_month) %>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag :csv_file_url%>
    </td>
    <td>
      <%= url_field(:url, :csv_file_url) %> if nothing is entered the default CSV from the email will be used
    </td>
  </tr>
</table>
  <div>
    <%=submit_tag "Submit"%>
  </div>
<% end %>

<% if @input_month.present? && @revenue_sum.present? && @unreserved_capacity.present? %>
  <p><%= @input_month %>: expected revenue: $<%= @revenue_sum %>, expected total capacity of the unreserved offices: <%= @unreserved_capacity %> </p>
<% end %>

<% if @error_message.present? %>
  <p>An error has occured: <%= @error_message %></p>
<% end %>
